{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SafePassword/add.css/' %}">
    <title>Save Password</title>
</head>
<body>
    <header>
      <h1 id="title">SAFE PASSWORD</h1>
      <h2 id="title1"> Safely save it and forget about it. </h2>
    </header>
    <main class="body">
        <div class="centered">
            <form method ="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" onclick="location.href = '/home/' "><h3> <b> Save </b> </h3></button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <section>
            <h2>About the idea</h2>
            <p>
                Store your username and password of any applications without worrying about the safety.
                Once it is stored her your free from the headache of remembering so many usernames and passwords. 
                Or having to use forgot password every time we forget something 
             </p>
        </section>
        <samp>Done By : Ashish.</samp><br>
        <samp>help line : 7892288771</samp><br>
    </footer>
</body>
</html>